[Desktop Entry]
Name=Ky Settings
Comment=Custom system settings
Exec=kysettings
Icon=kysettings
StartupWMClass=com.ky.settings
Terminal=false
Type=Application
Categories=Settings;System;
Keywords=settings;display;screen;custom;
